*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}
.sketch-pad{
    width: 960px;
}
.grid-row{
    border:  0.5px solid black;
    
    display:flex;
    justify-content: space-around;
}
.grid-cell{
    border-right: 1px solid black;
    aspect-ratio: 1/1;
    flex-basis: 100%;
}
button{
    width: 50px;
    height:50px;
}
.clicked-grid-cell{
    background-color: black;
}
.clicked-erase-button{
    transform: translate(1px,1px);
}
.rm-clicked-grid-cl{
    background-color: white;
}
