*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}
.sketch-pad{
    width: 970px;
}
.grid-row{
    border:  0.5px solid black;
    
    display:flex;
    justify-content: space-around;
}
.grid-cell{
    border-right: 1px solid black;
    width: 3px;
    height:3px;
}